.input-container {
  margin: 1rem;
  padding: 0;
}

.input-label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-family: 'Inter';
  font-weight: 500;
  color: var(--color-dark);
}

.custom-input {
  font-size: 1rem;
  font-family: 'Inter';
  font-weight: 400;
  color: var(--color-dark);
  width: 23rem;
  height: 14.75rem;
  border: transparent;
  background-color: transparent;
  border-radius: 0.5rem;
  box-sizing: border-box;
  outline: none;
  word-break: break-all;
  text-align: left;
  vertical-align: top;
  resize: none;
}

@media (max-width: 768px) {
  .custom-input {
    width: 70vw;
    max-width: 23rem;
    height: 50vw;
    max-height: 14rem;
  }
}
