.step-odd{
    width: 16.6875rem;
    height: 40.25rem;
    padding-top: 4rem;
    box-sizing: border-box;
}

.step-figures {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.circle {
    width: 8.75rem;
    height: 8.75rem;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.index {
    font-size: 2rem;
    font-family: 'Inter';
    font-weight: 500;
    color: var(--color-dark);
}

.line {
    height: 6rem;
    width: 0.1875rem;
    border-radius: 1rem;
}

.rectangle-block {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rectangle {
    width: 16.5625rem;
    height: 3.625rem;
}

.triangle-down {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 13px solid;
}

.step-text {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
    align-items: center;
}

.step-title {
    font-size: 1.5rem;
    font-family: 'Inter';
    font-weight: 600;
    margin: 0;
}

.step-description {
    font-size: 1.25rem;
    font-family: 'Inter';
    font-weight: 500;
    color: var(--color-dark);
    margin: 0;
    text-align: center;
    width: 15rem;
}