.table {
  width: 100%;
  background-color: var(--color-light-sage);
  border-collapse: separate;
  margin: 0 auto;
  border-spacing: 0 5px;
  padding-top: 20px;
  padding-bottom: 20px;
}

th,
td {
  padding: 10px;
  text-align: left;
}

th {
  cursor: default;
  background-color: var(--color-light-sage);
  color: rgba(var(--color-dark-rgb), 0.7);
}

tr {
  cursor: pointer;
  background-color: var(--color-cambridge-blue);
  margin: 20px;
  color: var(--color-dark);
}
