.table {
  width: 100%;
  background-color: var(--color-light-sage);
  border-collapse: separate;
  margin: 0 auto;
  border-spacing: 0 0.34rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

th, td {
  padding: 0.75rem;
  text-align: left;
}

th {
  cursor: default;
  background-color: var(--color-light-sage);
  color: rgba(var(--color-dark-rgb), 0.7);
}

tr {
  cursor: pointer;
  background-color: var(--color-cambridge-blue);
  margin: 1.5rem;
  color: var(--color-dark);
  border-radius: 0.5rem;
}

.table th:first-child, .table td:first-child {
  width: 13rem;
}