.question-buttons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: flex-end;
}

.question-details {
    display: flex;
    flex-direction: column;
    padding: 0;
    justify-content: space-between;
    width: 19rem;
    height: 16.875rem;
}

.question-topic {
    margin: 0;
    padding: 0;
}

.topic {
    margin: 0;
    width: 18rem;
    word-wrap: break-word;
    font-size: 1.75rem;
    font-family: 'Inter';
    font-weight: 500;
    color: var(--color-dark);
}

.question-year {
    font-size: 1.25rem;
    font-family: 'Inter';
    font-weight: 500;
    color: var(--color-dark);
}

.question-mark {
    font-size: 1.25rem;
    font-family: 'Inter';
    font-weight: 500;
    color: var(--color-dark);
}


.question-container-text {
    width: 25rem;
    min-height: 16.75rem;
    border-radius: 0.5rem;
    background-color: var(--color-cambridge-blue);
}

.question-container-text-out {
    width: 25rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.question-text {
    margin: 1rem;
    font-size: 1.25rem;
    font-family: 'Inter';
    font-weight: 400;
    color: var(--color-dark);
    max-width: 23rem;
    word-wrap: break-word;
}

.question-form-input {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.question-number {
    font-size: 1rem;
    font-family: 'Inter';
    font-weight: 500;
    color: var(--color-dark);
    margin: 0;
}



.choose {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 0;
    padding: 0;
    height: 5.5rem;
}

.detect-topic-button {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    font-family: 'Inter';
    color: var(--color-violet);
    background-color: transparent;
    border: 1px solid var(--color-sage);
    border-radius: 0.5rem;
    cursor: pointer;
    background-color: var(--color-light-sage);
}

.detect-topic-button:hover {
    background-color: var(--color-lavender);
    border-color: var(--color-violet);
    opacity: 0.8;
}


.save-button {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border-color: transparent;
    font-size: 1.25rem;
    font-family: 'Inter';
    font-weight: 500;
}


.save-disabled {
    color: var(--color-violet);
    background-color: var(--color-lavender);
    cursor: not-allowed;
}

.save-enabled {
    color: var(--color-light-sage);
    background-color: var(--color-violet);
    cursor: pointer;
    
}

.save-enabled:hover {
    opacity: 0.8;
}

.input-text-error {
    font-size: 0.875rem;
    font-family: "Inter";
    color: var(--color-error);
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}