.pagination-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  margin-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.pagination-panel button,
.pagination .ellipsis {
  background-color: var(--color-lavender);
  color: var(--color-dark);
  padding: 0.3rem 0.45rem;
  border-radius: 0.4rem;
  font-size: 0.9rem;
  border: 0;
  cursor: pointer;
}

.pagination-panel .ellipsis {
  cursor: default;
}

.pagination-panel button.active {
  background-color: var(--color-lavender);
  color: var(--color-dark);
}

.pagination-panel button.not-active {
  background-color: var(--color-light-sage);
  color: var(--color-dark);
}

.pagination-panel button:disabled {
  background-color: var(--color-light-sage);
  cursor: not-allowed;
}
