.menuItem{
    text-decoration: none;
    border: transparent;
    background-color: transparent;
    cursor: pointer;
    font-size: 1.4rem;
    font-family: 'Inter';
    color: var(--color-dark);
}

.menuItem:hover{
    opacity: 0.8;
}

.non-active {
    opacity: 0.6;
}

.active {
    opacity: 1;
}