.create-question-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 80vh;
  padding: 4rem 0;
  box-sizing: border-box;
}

.question-container-heading-text {
  font-size: 2rem;
  font-family: 'Inter';
  font-weight: 500;
  color: var(--color-dark);
  margin: 0;
}

.question-container-heading {
  margin: 0;
  padding: 1rem 0;
}

.question-container-without-border {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  width: fit-content;
}

@media (max-width: 768px) {
  .question-container-without-border{
    align-items: center;
  }
  
}