#question_view_page_container {
    min-height: 80vh;
    padding: 0;
    margin: 0;
  }
  
  .question_view {
      display: flex;
      justify-content: center;
      margin-bottom: 4rem;
    }
    
    .question {
      background-color: var(--color-cambridge-blue);
      border-radius: 0.5rem;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      width: fit-content;
    }
    
    .question_container_heading_text {
      font-size: 2rem;
      font-family: 'Inter';
      font-weight: 500;
      color: var(--color-dark);
      margin: 0;
    }
    
    .question_container_heading {
      margin: 0;
      padding: 1rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    