.uploaded-page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  min-height: 80%;
}

.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  flex-grow: 1;
  justify-content: space-between;
}

.grid-container {
  width: 100%;
}

.pagination {
  margin-top: 20px;
}

.no-data-uploaded {
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}